.calculator{
    width: 100%;
    height: 100%;
    background: lightgray;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 300px;
    border-radius: 12px;
    justify-content: space-between;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;    
}
.all-rows{
    padding-bottom: 40px;
}
button{
    width: 100%;
    max-width: 50px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: transparent;
}
input{
    width: 100%;
    max-width: 150px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.clear-input{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
#clear{
    margin-top: 30px;
    margin-left: 10px;
    background-color: red;
    color: white;
}